.trackPage {

    &__btn {
        font-size: 18px;
    }

    &__img {
        width: 200px;
        height: 200px;
    }

    &__info {
        margin: 20px 0;
    }

    &__words {
        margin: 0 30px;
    }
}